@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <h4>Êtes-vous sûr de vouloir vous déconnecter ?</h4>
        <form asp-action="Logout">
            <input type="submit" value="Se déconnecter" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-dark">Annuler</a>
        </form>
    </div>
</div>
